.DS_Store
node_modules
dist
npm-debug.log
yarn-error.log
other
public
test&tries
.firebaserc
firebase*.log
firebase.json
package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
